{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA DONKI - Space Weather Events",
    "description": "NASA DONKI (Space Weather Database Of Notifications, Knowledge, Information) API. Provides coronal mass ejection (CME) events and Mars magnetopause crossing data for the EDEN Martian greenhouse agent.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nasa.gov/DONKI"
    }
  ],
  "paths": {
    "/CME": {
      "get": {
        "operationId": "get_cme_events",
        "summary": "List Coronal Mass Ejection events",
        "description": "Returns CME events from the DONKI database. Each event includes activity ID, start time, instruments, source location, CME analysis (speed, half-angle, latitude, longitude), and linked events like flares. Used by EDEN to detect solar storms that could impact Mars and trigger protective greenhouse protocols.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date for the query range in YYYY-MM-DD format. Defaults to 30 days before current date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date for the query range in YYYY-MM-DD format. Defaults to current date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-19"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "NASA API key for authentication.",
            "schema": {
              "type": "string",
              "default": "YOUR_NASA_API_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of CME events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CMEEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/MPC": {
      "get": {
        "operationId": "get_mars_magnetopause_crossings",
        "summary": "List Mars magnetopause crossing events",
        "description": "Returns Mars magnetopause crossing (MPC) events. These indicate when the solar wind pushes Mars's induced magnetosphere boundary, signaling increased radiation exposure on the surface. Critical for EDEN greenhouse radiation shielding decisions.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date for the query range in YYYY-MM-DD format. Defaults to 30 days before current date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date for the query range in YYYY-MM-DD format. Defaults to current date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-19"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "NASA API key for authentication.",
            "schema": {
              "type": "string",
              "default": "YOUR_NASA_API_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Mars magnetopause crossing events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MPCEvent"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CMEEvent": {
        "type": "object",
        "properties": {
          "activityID": {
            "type": "string",
            "description": "Unique event identifier, e.g. 2026-01-01T03:53:00-CME-001"
          },
          "catalog": {
            "type": "string",
            "description": "Source catalog, typically M2M_CATALOG"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "CME start time in ISO 8601"
          },
          "instruments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                }
              }
            }
          },
          "sourceLocation": {
            "type": "string",
            "description": "Solar source location (heliographic coordinates)"
          },
          "activeRegionNum": {
            "type": "integer",
            "nullable": true,
            "description": "NOAA active region number"
          },
          "note": {
            "type": "string",
            "description": "Analyst notes about the CME"
          },
          "cmeAnalyses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CMEAnalysis"
            }
          },
          "linkedEvents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "activityID": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CMEAnalysis": {
        "type": "object",
        "properties": {
          "isMostAccurate": {
            "type": "boolean"
          },
          "time21_5": {
            "type": "string",
            "format": "date-time",
            "description": "Time when CME reaches 21.5 solar radii"
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "halfAngle": {
            "type": "number",
            "description": "Half angular width in degrees"
          },
          "speed": {
            "type": "number",
            "description": "CME speed in km/s"
          },
          "type": {
            "type": "string",
            "description": "CME type: S (slow), C (common), O (occasional), R (rare), ER (extremely rare)"
          },
          "enlilList": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object"
            },
            "description": "WSA-ENLIL model simulation results including Mars impact predictions"
          }
        }
      },
      "MPCEvent": {
        "type": "object",
        "properties": {
          "catalog": {
            "type": "string"
          },
          "activityID": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "instruments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                }
              }
            }
          },
          "linkedEvents": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "activityID": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}